* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {

    margin: 0;
    padding: 0;
    font-family: "Mate SC", serif;
    font-style: normal;
}


.cabecalho {
    background-color: rgb(190, 173, 177);
}

.listas {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.listas a {
    text-decoration: none;

}

.container-principal {
    background-image: url("./imagens/Imagem-principal.png");
    width: 100vw;
    height: 90vh;
    background-size: cover;
}

.conteudo-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.titulo-container {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20%;

}

.botao-principal {

    width: 250px;
    height: 66px;
    border: none;
    background-color: #f10c0c;
    font-family: "Mate SC", serif;
    color: #f7f7f7;
    font-size: 50px;
    cursor: pointer;
    margin-left: 20%;
    margin-top: 1%;
}

.botao-principal a,
a:visited {
    text-decoration: none;
    color: unset;
}

#produtos {
    background-color: rgb(201, 201, 201);
    padding: 2%;
}

.produtos-container {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;
}

.imagem-container img {
    max-width: 400px;
    max-height: 400px;
}


.formulario {
    background-color: gray;
    padding: 2%;
    text-align: center;
}

.formulario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}